<div>
    <div class="row" style="padding:15px;">
            <button style="margin-left:10px" type="button" class="btn btn-xs" (click)="backToHome()"><span style="transform: rotate(-180deg)" class="glyphicon glyphicon-share-alt"> </span> Back</button>
            <br>
        <div class="col-xs-12" style="padding:10px">
            <span>Selected Company : </span> <span style="font-weight:bold;font-size:16px">{{selectedCompany.name}}</span>
        </div>
        <div class="row">
            <div  style="padding:10px">
                <div>
                    <span>Invoice Number :</span> <span style="font-weight:bold">{{invoice}}</span> <span style="color:rgb(69, 69, 226);cursor:pointer" (click)="updateInvoice()">Update</span><br>
                    <span style="padding-left:20px" [hidden]="showInvoiceOption"><span class="glyphicon glyphicon-arrow-right"></span> Enter new Invoice number : <input type="number" [(ngModel)]="newinvoice" style="border: none;border-bottom: 1px solid black;width:125px"> <button type="button" class="btn btn-primary btn-xs" (click)="changeInvoice(newinvoice)">Change</button></span><br>
       
                    <span>Date of Supply&nbsp;&nbsp;:</span> <span style="font-weight:bold">{{supplyDate}}</span> <span style="color:rgb(69, 69, 226);cursor:pointer" (click)="showDateOption()">Change</span><br>
                    <span style="padding-left:20px" [hidden]="showDateUpdate"><span class="glyphicon glyphicon-arrow-right"></span> Enter new Date of supply : <input style="border: none;border-bottom: 1px solid;" type="date" [ngModel] ="dt" (ngModelChange)="dt = $event"> <button type="button" class="btn btn-primary btn-xs" (click)="updateDate(dt)">Update</button></span>
                </div>
                <div>
                    <br>
                    <span>Enter Item Details &nbsp;:</span>
                </div>
            </div>
            <div class="row">
        <div class="col-xs-3" style="text-align:center">
            <span style="font-weight:bold;text-decoration: underline;">Select Item</span><br><br>
            <select style="border: none;border-bottom: 1px solid black;cursor:pointer" *ngIf="!selectedItem" [(ngModel)]="selectedItemName" (change)="newItem(selectedItemName)">
                <option value="{{item.name}}" *ngFor="let item of selectedCompany.items">{{item.name}}</option>
            </select>
            <span *ngIf="selectedItemName">{{selectedItemName}}</span>
        </div>
        <div class="col-xs-3" style="text-align:center" *ngIf="selectedItem">
            <div *ngIf="selectedItem.pieces">
                    <span style="font-weight:bold;text-decoration: underline;">Total Pieces</span><br><br>
                    <div class="row">
                        <div class="col-xs-3" style="padding:0px"><input style="width: 100%;border: none;border-bottom: 1px solid black;text-align:center" placeholder="material" type="number" [(ngModel)]="material" (change)="materialCount(material,count)"></div>
                        <div class="col-xs-1">*</div>
                        <div class="col-xs-3" style="padding:0px"><input style="width: 100%;border: none;border-bottom: 1px solid black;text-align:center" placeholder="count" type="number" [(ngModel)]="count" (change)="materialCount(material,count)"></div>
                        <div class="col-xs-1">=</div>
                        <div class="col-xs-3" style="border: 1px solid darkgrey;border-radius:4px"><span> &nbsp;{{totalCount}}</span></div>
                    </div>
            </div>
            <div *ngIf="!selectedItem.pieces">
                <span style="font-weight:bold;text-decoration: underline;">Total Pieces</span><br><br>
             <input  type="number" style="width: 50%;border: none;border-bottom: 1px solid black;text-align:center" [(ngModel)]="total" (change)="totalQty(total)">
            </div>
        </div>
        <div class="col-xs-2" style="text-align:center" *ngIf="selectedItem">
                <span style="font-weight:bold;text-decoration: underline;">Rate</span><br><br>
                <span>{{selectedItem.rate}}</span>
        </div>
        <div class="col-xs-2" style="text-align:center" *ngIf="selectedItem">
                <span style="font-weight:bold;text-decoration: underline;">Total Rate</span><br><br>
                <span>{{totRate}}</span>
        </div>
        <div class="col-xs-2" style="text-align:center" *ngIf="selectedItem">
            <span style="font-weight:bold;text-decoration: underline;">Add Item</span><br><br>
            <button class="btn btn-xs btn-primary" (click)="addItem()">Add item</button>
        </div>
   </div>
        </div>
    </div>
</div>


<div>
   <div class="row" style="width:80%;margin:0 auto">
        <div *ngIf="itemsArray.length>0"><br>
            <table class="table table-bordered">
                <tr>
                    <th class="center-align">Item</th>
                    <th class="center-align">Qty</th>
                    <th class="center-align">Rate</th>
                    <th class="center-align">Total</th>
                    <th class="center-align">Remove Item</th>
                </tr>
                <tbody *ngFor="let data of itemsArray">
                    <tr>
                        <td class="center-align">{{data.desc}}</td>
                        <td class="center-align">{{data.qty}}</td>
                        <td class="center-align">{{data.rate}}</td>
                        <td class="center-align">{{data.total}}</td>
                        <td class="center-align" (click)="deleteItem(data)"><span style="color: red;cursor: pointer;" class="glyphicon glyphicon-trash"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
   </div>
   
    
</div>

<div [hidden]="displayBill" class="center-align">
    <button class="btn btn-sm btn-primary" id="myBtn" (click)="loadBill()">Generate bill</button>

</div>



<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" id="close">&times;</span>
    <div id="billContent">
        <div  class="bill_outer_design border">
            
                <div class="row center_align">
                    <h4>SRI&nbsp;VINAYAKA&nbsp;INDUSTRIES</h4>
                    <span>We&nbsp;Undertake&nbsp;All&nbsp;type&nbsp;of&nbsp;Engineering&nbsp;Works</span><br>
                    <span>No.9/1,Balaji&nbsp;Garden,&nbsp;Giri&nbsp;Nagar,&nbsp;P&T&nbsp;Colony&nbsp;Road,&nbsp;Coimbatore- 641030.&nbsp;Mobile&nbsp;No:&nbsp;94436 83219</span><br>
                    <span>GSTIN: 33AOCPK6138FIZ8</span>
                </div>
                <div class="row border_top">
                    <div class="col-xs-4 center_align">TAX&nbsp;INVOICE</div>
                    <div class="col-xs-8 border_left">
                        <div class="row">
                            <div class="col-xs-6 singleLine">INVOICE NO : {{invoice}}</div>
                            <div class="col-xs-6 singleLine">DATE : {{date}} </div>
                            <div class="col-xs-12 singleLine">RULE&nbsp;7(1)&nbsp;Under&nbsp;Section&nbsp;31&nbsp;of&nbsp;GST&nbsp;RULES&nbsp;2017</div>
                        </div>
                    </div>
                </div>
                <div class="row border_top">
                <span style="padding-left:10px">Receipt&nbsp;&&nbsp;Address&nbsp;of&nbsp;Delivery </span>
                </div>
                <div class="row border_top">
                    <div class="col-xs-10 border_right">
                        <span>To</span>
                        <table>
                            <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>:</td>
                                    <td class="p-l-space">{{selectedCompany.name}}</td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td>:</td>
                                    <td class="p-l-space">{{selectedCompany.address}}</td>
                                </tr>
                                <tr>
                                    <td>City</td>
                                    <td>:</td>
                                    <td class="p-l-space">{{selectedCompany.city}}</td>
                                </tr>
                                <tr>
                                    <td>State</td>
                                    <td>:</td>
                                    <td class="p-l-space">{{selectedCompany.state}}</td>
                                </tr>
                                <tr>
                                    <td>State Code</td>
                                    <td>:</td>
                                    <td class="p-l-space">{{selectedCompany.stateCode}}</td>
                                </tr>
                                <tr>
                                    <td>GSTIN No</td>
                                    <td>:</td>
                                    <td class="p-l-space">{{selectedCompany.gst}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-2" style="padding-top:2%">
                        <div>
                            <p>Original</p>
                            <p>Duplicate</p>
                            <p>Triplicate</p> 
                        </div>
                    </div>
                </div>
                <div class="row border_top center_align">
                    <span>Tax&nbsp;is&nbsp;Payable&nbsp;on&nbsp;Reverse&nbsp;Charge&nbsp;Basis&nbsp;:&nbsp;No</span>
                </div>
                <div class="row border_top">
                    <div class="col-xs-4">
                        <span class="singleLine">Payment&nbsp;of&nbsp;this&nbsp;bill&nbsp;falls&nbsp;due&nbsp;on&nbsp;: -</span>
                    </div>
                    <div class="col-xs-4 border_left border_right">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Name of Service</td>
                                    <td>:</td>
                                    <td class="p-l-space">Labour</td>
                                </tr>
                                <tr>
                                    <td>Service A/C Code</td>
                                    <td>:</td>
                                    <td class="p-l-space">998931</td>
                                </tr>
                                <tr>
                                    <td>Date of Supply</td>
                                    <td>:</td>
                                    <td class="p-l-space">{{supplyDate}}</td>
                                </tr>
                                <tr>
                                    <td>Place</td>
                                    <td>:</td>
                                    <td class="p-l-space">AVCL</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-4">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="singleLine">Mode of Transportation</td>
                                    <td>:</td>
                                    <td class="p-l-space singleLine">By hand</td>
                                </tr>
                                <tr>
                                    <td>LR No</td>
                                    <td>:</td>
                                    <td class="p-l-space">-</td>
                                </tr>
                                <tr>
                                    <td>Date</td>
                                    <td>:</td>
                                    <td class="p-l-space">-</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row billTable">
                    <table class="customTable">
                        <tr class="border_bottom border_top">
                            <th style="border-left:none">SL.NO</th>
                            <th>SERVICE <br> ACCOUNTING CODE</th>
                            <th>
                                <span>DESCRIPTION OF SERVICE</span>
                                <br>
                                <span>DC No: 4540119031</span>
                                <span>Date: {{supplyDate}}</span>
                            </th>
                            <th>QTY</th>
                            <th style="width:100px">RATE</th>
                            <th style="width:100px">AMOUNT IN Rs</th>
                        </tr>
                            <tr *ngFor="let data of itemsArray; let i = index">
                                <td style="border-left:none">{{i+1}}</td>
                                <td>99879</td>
                                <td>{{data.desc}}</td>
                                <td>{{data.qty}} Nos</td>
                                <td>{{data.rate}}</td>
                                <td>{{data.total}}</td>
                            </tr>
                            <tr style="height:100px">
                                <td style="border-left:none"> &nbsp;</td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                            </tr>        
                    </table>
                </div>
                <div class="row" style="display:-webkit-box">
                    <div style="width:calc(100% - 99px);text-align:right;padding-right:10px" class="border_right">Total</div>
                    <div style="width:100px;text-align:center">{{grandTotal}}</div>
                </div>
                <div class="row border_top" style="display:-webkit-box">
                    <div style="width:calc(100% - 199px);text-align:center;" class="border_right">CGST 9%</div>
                    <div style="width:200px;text-align:center">{{cgstRupee}}.{{cgstPaise}}</div>
                </div>
                <div class="row border_top" style="display:-webkit-box">
                    <div style="width:calc(100% - 199px);text-align:center;" class="border_right">SGST 9%</div>
                    <div style="width:200px;text-align:center">{{sgstRupee}}.{{sgstPaise}}</div>    
                </div>
                <div class="row border_top" style="display:-webkit-box">
                    <div style="width:calc(100% - 199px);text-align:center;" class="border_right">GRAND TOTAL</div>
                    <div style="width:200px;text-align:center">{{totIncGst}}</div>     
                </div>
                <div class="row border_top" style="padding-left:10px">
                        <div>CGST Rupees in words&nbsp;&nbsp;&nbsp;:<span> {{cgstRupeeWord}} rupees </span><span *ngIf="cgstPaiseWord"> and {{cgstPaiseWord}} paise</span></div>
                        <div>SGST Rupees in words&nbsp;&nbsp;&nbsp;:<span> {{sgstRupeeWord}} rupees </span><span *ngIf="sgstPaiseWord"> and {{sgstPaiseWord}} paise</span></div>  
                        <div>GRAND TOTAL in words&nbsp;:<span> {{totIncGstRupeeWord}} rupees</span><span *ngIf="totIncGstPaiseWord"> and {{totIncGstPaiseWord}} paise</span></div>     
                </div>
                <div class="row border_top" style="display:-webkit-box">
                        <div style="width:calc(100% - 199px);text-align:center;" class="border_right">
                            <br>
                            <span>
                                Certified that the particulars given above are true and correct and the amount indicated represent the price actually and that there is no flow of additional consideration directly or indirectly or indirectly from the buyers.
                            </span>
                        </div>
                        <div style="width:200px;text-align:center">
                            <span>
                                For Sri Vinayaka Industries
                            </span><br><br><br>
                            <span>Authorised Signatory</span>
                        </div>     
                </div>
        </div>
    </div>
    <button (click)="submit('billContent')">submit </button>
    
  </div>

  

</div>
